* {
  box-sizing: border-box;
}

.header{
  background-color:red;
  position: relative;
  &__inner{
    width: 1030px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    background-color: blueviolet;
    &__top{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between; 
      &__form{
        width: 100%;
        position: relative;
      }
    }
    &__bar{
      display: flex;
      position: relative;
      font-size: 20px;
      margin-bottom: 10px;
      box-sizing: border-box;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      color: #000;
        &__search{
        display: flex;
        position: relative;
          &__Category{
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            margin:0;
          }
          &__Brand{
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            margin: 0;
          }
        }
        &__registration{
          margin-left: auto;
          display: flex;
          &__Rogin{
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            margin:0;
          }
          &__Touroku{
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            margin:0;
          }
        }
      }
    }
  }
