* {
  box-sizing: border-box;
}

.header{
  background-color:red;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  &__inner{
    width: 1030px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    background-color: blueviolet;
    &__top{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between; 
      &__form{
        width: 100%;
        position: relative;
      }
    }
    }
  }
