.main
  .main__pic1
    .main__pic1__content
      .main__pic1__content__title
        人生を変えるフリマアプリ
      .main__pic1__content__message
        FURIMAは誰でも簡単に出品・購入できる
        <br>
        フリマアプリです
      .main__pic1__content__appbtn
        .main__pic1__content__appbtn__Store
          =link_to image_tag("app-store.svg",width:"180"), root_path
        .main__pic1__content__appbtn__Play
          =link_to image_tag("google-play.svg",width:"180"), root_path
  .main__pic2
  .main__pic3
  .main__pic4
  .main__pic5
  .main__pic6