.main
  .main__pic1
    .main__pic1__content
      .main__pic1__content__title
        人生を変えるフリマアプリ
      .main__pic1__content__message
        FURIMAは誰でも簡単に出品・購入できる
        <br>
        フリマアプリです
      .main__pic1__content__appbtn
        .main__pic1__content__appbtn__Store
          =link_to image_tag("app-store.svg",width:"180"), root_path
        .main__pic1__content__appbtn__Play
          =link_to image_tag("google-play.svg",width:"180"), root_path
  .main__pic2
    %h2.content
      FURIMAが選ばれる3つの理由
    %ul.reasons
      %li.reason
        .reason__pic
          %span.namber 1
          =link_to image_tag("pict-reason-01.jpg",width:"100%"), root_path
        %h3.text
          %span.message 3分
          ですぐに出品
        %p.Setumei スマホで入力するだけで簡単に出品できる！
      %li.reason
        .reason__pic
          %span.namber 2
          =link_to image_tag("pict-reason-02.jpg",width:"100%"), root_path
        %h3.text
          %span.message シンプル
          で使いやすい
        %p.Setumei めんどくさい入力は必要なく、検索も購入もスムーズ
      %li.reason
        .reason__pic
          %span.namber 3
          =link_to image_tag("pict-reason-03.jpg",width:"100%"), root_path
        %h3.text
          手数料
          %span.message 業界最安
        %p.Setumei 最大3%でお得に出品&購入！
  .main__pic3
    .main__pic3__content
      %h2.title 会員数日本一位
      %p.message
        FURIMAは、フリマアプリで最も人気。
        <br>
        出品・購入回数も業界最多です！
        <br>
        欲しかったあの商品に出会えるかもしれません。
      .main__pic3__content__appbtn
        .main__pic3__content__appbtn__Store
          =link_to image_tag("app-store.svg",width:"180"), root_path
        .main__pic3__content__appbtn__Play
          =link_to image_tag("google-play.svg",width:"180"), root_path
  .main__pic4
    .title FURIMAの特徴
    .features
  .main__pic5
  .main__pic6