.footer
  %ul.texts
    %li.text
      %h2.title FURIMAについて
      %ul.ul
        %li.li
          %a.a(href="#") 会社概要(運営会社)
        %li.li
          %a.a(href="#") プライバシーポリシー
        %li.li
          %a.a(href="#") FURIMA利用規約
        %li.li
          %a.a(href="#") ポイントに関する特約
    %li.text
      %h2.title FURIMAを見る
      %ul.ul
        %li.li
          %a.a(href="#") カテゴリー一覧
        %li.li
          %a.a(href="#") ブランド一覧
    %li.text
      %h2.title ペルプ&ガイド
      %ul.ul
        %li.li
          %a.a(href="#") FURIMAガイド
        %li.li
          %a.a(href="#") FURIMAロゴ利用ガイドライン
        %li.li
          %a.a(href="#") お知らせ
  .footer__logo-siro
    =link_to image_tag("logo-white.png",width:"160px",height:"50px"),root_path
    %p.p  ©︎ FURIMA